
pre {
	font-size: 80%;
	background: #fff;
	border: 1px solid #999;
	line-height: 1.3;
	overflow: auto;
	font-family: "Consolas", "Monaco", "Lucida Console", monospace;
	min-height: 10em;
}

body {
	background: #fff;
	line-height: 1.6;
	font-family: "Tahoma", sans-serif;
}

tr,
td {
	text-align: left;
	padding: 0 2em 0 0;
}

.less {
	font-size: 80%;
}

a:link {
	color: #333;
}

a:visited {
	color: #666;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

form {
}

form dl dt {
	margin: 1em 0 0;
	padding: 0;
	font-weight: bold;
}

form dl dd {
	margin: 0;
	padding: 0;
}

form textarea ,
form input.text {
	border: 1px solid #000;
	width: 100%;
}

form textarea:focus ,
form input.text:focus {
	background: #efefef;
}

form dl dd.code {
	position: relative;
}

form dl dd.code div.error {
	position: absolute;
	top: 1px;
	right: -1px;
	background: #000;
	padding: 0.2em 1em;
	color: #fff;
}

form dl dd.code textarea.error {
	background: #ffeeee;
}

#whole {
	width: 80%;
	padding: 2em;
	margin: auto;
	background: #fff;
	position: relative;
}

#logo {
	margin: 0;
	padding: 0 0 20px 0;
	border-style: solid;
	border-color: #000;
	border-width: 0 0 1px 0;
}

#logo a {
	display: block;
	background: url('/images/logo.png') no-repeat;
	margin: 0 0 0 -3px;
	width: 182px;
	height: 49px;
	text-indent: -10000px;
	overflow: hidden;
}

#navigation {
	position: absolute;
	top: 0;
	right: 0;
	padding: 2em;
}

#navigation .loggedin ,
#navigation .loggedout {
	font-size: 12px;
}

#navigation a ,
#navigation a:link ,
#navigation a:visited {
	color: #000;
	text-decoration: none;
}

#navigation a:hover {
	text-decoration: underline;
}

#navigation img.login {
	vertical-align: text-bottom;
}

#search {
	position: absolute;
	top: 60px;
	right: 0;
	padding: 0 2em 2em 2em;
}

#search input.text {
	border: 1px solid #666;
	width: auto;
}

#search input.button {
	-moz-border-radius: 5px;
	background: #000;
	color: #fff;
	border: 1px solid #666;
}

#recently-hooked h2 {
	/*
	background: url('/images/recently_hooked.png') no-repeat;
	margin: 0 0 20px -5px;
	width: 158px;
	height: 23px;
	text-indent: -10000px;
	overflow: hidden;
	*/
}

.section {
	margin: 5em 0;
}

.hook {
	clear: both;
	margin: 30px 0;
}

.hook .title {
	position: absolute;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 0 70px;
	padding: 0.2em 1em;
	background: #111;
	color: #fff;
	white-space: nowrap;
}

.hook .title .less {
	font-size: 80%;
	font-weight: normal;
	margin: 0 0 0 1em;
}

.hook .title a:link {
	color: #fff;
	text-decoration: none;
}

.hook .title a:visited {
	color: #fff;
	text-decoration: none;
}

.hook .title a:hover {
	color: #fff;
	text-decoration: underline;
}

.hook .author {
	float: left;
}

.hook .author img {
}

.hook .code {
	margin: 0 0 0 70px;
	padding: 0;
}

.hook .code pre {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.hook .code pre a ,
.hook .code pre a:link ,
.hook .code pre a:visited {
	padding: 30px 0.5em 0;
	height: 90px;
	display: block;
	color: #000;
	text-decoration: none;
}

.hook .code pre a:hover {
	background: #efefef;
}


#footer {
	font-size: 80%;
	margin: 10em 0 0 0;
	text-align: center;
}

#footer address {
	font-style: normal;
}


#config form dt,
#config form dd {
	display: inline;
}

