<div class="hook">
	<div class="title">
		<a href="/<%= hook.user().nick() %>/hook/<%= hook.key().getId() %>">
			<%= String(hook.title()) || "Untitled" %>
		</a>

		<% if (hook.user() == user) { %>
		<span class="less">
			(<a href="/<%= user %>/hook/<%= hook.key().getId() %>/edit">Edit</a>)
		</span>
		<% } %>
	</div>
	<div class="author">
		<a href="/<%= hook.user().nick() %>/">
			<img src="<%= hook.user().icon() %>" width="60" height="60" alt="<%= hook.user().nick() %>"/>
		</a>
	</div>
	<div class="code">
		<pre><a href="/<%= hook.user().nick() %>/hook/<%= hook.key().getId() %>"><%= hook.code() %></a></pre>
	</div>
</div>
