<div class="hook">
	<!-- <%= v.time() %> -->
	<% hook_user = hook.user(), hook_key =  hook.id() %>
	<div class="title">
		<a href="/<%= hook_user.nick() %>/hook/<%= hook_key %>">
			<%= String(hook.title()) || "Untitled" %>
		</a>
	</div>
	<div class="author">
		<a href="/<%= hook_user.nick() %>/">
			<img src="<%= hook_user.icon() %>" width="60" height="60" alt="<%= hook_user.nick() %>"/>
		</a>
	</div>
	<div class="code">
		<pre><a href="/<%= hook_user.nick() %>/hook/<%= hook_key %>"><%= hook.code() %></a></pre>
	</div>
	<!-- <%= v.time() %> -->
</div>
