<%include= _header %>

<div id="help" class="section">
	<h2>Help</h2>

	<div class="section">
		<h3>What is hookhub?</h3>
		<p>
			<strong>hookhub</strong> is a hub of web hooks. You can write JavaScript to routing web hooks to other web services.
		</p>

		<h3>How do I set my icon?</h3>
		<p>Associate your email address by <a href="http://gravatar.com/">Gravatar</a>.</p>
	</div>
</div>

<div id="reference" class="section">
	<h2>Code Reference</h2>

	<p>The code has some restrictions:</p>
	<ul>
		<li>Done within 3seconds.</li>
		<li>1000 recursion.</li>
		<li>Can't invoke hook in 10sec.</li>
	</ul>

	<div class="section">
		<h3>Active Global Properties</h3>
		<p>Some global properties are pre-defined.</p>

		<div class="section">
			<h4>Request properties</h4>
			<dl>
				<dt><code>stash : Object</code></dt>
				<dd>
					This object includes some parameters from hook request
				</dd>
				<dt><code>stash.user : String</code></dt>
				<dd>
					Hook author nickname
				</dd>
				<dt><code>stash.id : Number</code></dt>
				<dd>
					Id for the hook
				</dd>
				<dt><code>stash.config : Object</code></dt>
				<dd>
					Config set by
					<% if (user) { %>
					<a href="/<%= user %>/config">user config page</a>
					<% } else { %>
					user config page
					<% } %>
				</dd>
				<dt><code>stash.params : Object</code></dt>
				<dd>
					Parameters from hook request
				</dd>

				<dt><code>stash.data : String</code></dt>
				<dd>
					Post data
				</dd>

				<dt><code>stash.headers : Object</code></dt>
				<dd>
					Request headers
				</dd>
			</dl>
		</div>

		<div class="section">
			<h4>HTTP Request</h4>
			<dl>
				<dt><code>http(<var>opts</var>: Object) => Object</code></dt>
				<dd>
					HTTP request synchronously-executed. 
				<pre>
// Example:
http({
	method  : "post",
	url     : url,
	data    : http.data(params),
	headers : {
		"Content-Type":"application/x-www-form-urlencoded"
	}
})
</pre>
					<pre>
// Sample returned value
({
	code: 200,
	headers : { 'Content-type':"text/plain" },
	body : "Hello"
})
</pre>
				</dd>

				<dt><code>http.post(<var>url</var>: String, <var>params</var>: Object) => Object</code></dt>
				<dd>
					HTTP request using POST method.
				</dd>

				<dt><code>http.get(<var>url</var>: String) => Object</code></dt>
				<dd>
					HTTP request using GET method.
				</dd>

				<dt><code>http.data(<var>params</var>: Object) => String</code></dt>
				<dd>
					Construct post data from Object.
					<pre>
({
	foo: "bar",
	baz: "piyo"
})
//=>  "foo=bar&amp;baz=piyo"
</pre>
					<pre>
({
	foo: "bar",
	baz: ["piyo", "puyo"]
})
//=>  "foo=bar&amp;baz=piyo&amp;baz=puyo"
</pre>
				</dd>
			</dl>
		</div>


		<div class="section">
			<h4>Utility functions</h4>
			<dl>
				<dt><code>util.digest.md5(<var>data</var>: String) => String</code></dt>
				<dd>Make MD5 hex digest for the data.</dd>
				<dt><code>util.digest.sha1(<var>data</var>: String) => String</code></dt>
				<dd>Make SHA1 hex digest for the data.</dd>
				<dt><code>util.base64.encode(<var>data</var>: String) => String</code></dt>
				<dd>Convert data to Base64 encoded string.</dd>
				<dt><code>util.base64.decode(<var>data</var>: String) => String</code></dt>
				<dd>Decode base64 encode.</dd>
			</dl>
		</div>
	</div>
</div>

<%include= _footer %>
