<%include= _header %>
<% hook = stash("hook") %>

<div id="edit-hook" class="section">
	<h2>Edit Hook</h2>
	<form action="" method="post">
		<dl>
			<dt>Title</dt>
			<dd><input type="text" name="title" value="<%= hook.title() || "" %>" class="text"/></dd>
			<dt>Code</dt>
			<dd><textarea name="code" cols="50" rows="20"><%= hook.code() || "" %></textarea></dd>
		</dl>
		<p>
			<input type="hidden" name="sid" value="<%= c.req().session().getId() %>"/>
			<input type="hidden" name="id" value="<%= hook.key().getId() || "" %>"/>
			<input type="submit" value="Submit"/>
		</p>
	</form>
</div>

<% if (hook.key().getId()) { %>
<div id="edit-hook" class="section">
	<h2>Delete Hook</h2>
	<form action="" method="post">
		<p>
			<input type="hidden" name="sid" value="<%= c.req().session().getId() %>"/>
			<input type="hidden" name="id" value="<%= hook.key().getId() || "" %>"/>
			<input type="hidden" name="mode" value="delete"/>
			<input type="submit" value="Delete"/>
		</p>
	</form>
</div>
<% } %>

<div id="edit-remarks" class="section">
	<h2>Remarks</h2>
	<p>This code has some restrictions:</p>
	<ul>
		<li>Done within 3seconds.</li>
		<li>1000 recursion.</li>
	</ul>

	<div class="section">
		<h3>Active Global Properties</h3>
		<p>Some global properties are pre-defined.</p>
		<dl>
			<dt><var>stash</var> : <code>Object</code></dt>
			<dd>
				This object includes some parameters from hook request
			</dd>
			<dt><var>stash.user</var> : <code>String</code></dt>
			<dd>
				Hook author e-mail
			</dd>
			<dt><var>stash.id</var> : <code>Number</code></dt>
			<dd>
				Id for the hook
			</dd>
			<dt><var>stash.config</var> : <code>Object</code></dt>
			<dd>
				Config set by
				<% if (user) { %>
				<a href="/<%= user %>/config">user config page</a>
				<% } else { %>
				user config page
				<% } %>
			</dd>
			<dt><var>stash.params</var> : <code>Object</code></dt>
			<dd>
				Parameters from hook request
			</dd>

			<dt><var>http(opts: Object)</var> : Function => Object</dt>
			<dd>
				HTTP request synchronously-executed. 
			<pre>
// Example:
http({
	method  : "post",
	url     : url,
	data    : http.data(params),
	headers : {
		"Content-Type":"application/x-www-form-urlencoded"
	}
})
</pre>
				<pre>
// Sample returned value
({
	code: 200,
	headers : { 'Content-type':"text/plain" },
	body : "Hello"
})
</pre>
			</dd>

			<dt><var>http.post(url: String, params: Object) => Object</var> : Function</dt>
			<dd>
				HTTP request using POST method.
			</dd>

			<dt><var>http.get(url: String)</var> : Function => Object</dt>
			<dd>
				HTTP request using GET method.
			</dd>

			<dt><var>http.data(params: Object)</var> : Function => String</dt>
			<dd>
				Consturct post data from Object.
				<pre>
({
	foo: "bar",
	baz: "piyo"
})
//=>  "foo=bar&amp;baz=piyo"
</pre>
				<pre>
({
	foo: "bar",
	baz: ["piyo", "puyo"]
})
//=>  "foo=bar&amp;baz=piyo&amp;baz=puyo"
</pre>
			</dd>
		</dl>
	</div>
</div>

<%include= _footer %>
