<%include= _header %>
<% hook = stash("hook") %>

<div id="edit-hook" class="section">
	<h2>Edit Hook</h2>
	<form action="" method="post">
		<dl>
			<dt>Title</dt>
			<dd><input type="text" name="title" value="<%= hook.title() || "" %>" class="text"/></dd>
			<dt>Code</dt>
			<dd><textarea name="code" cols="50" rows="20"><%= hook.code() || "" %></textarea></dd>
		</dl>
		<p>
			<input type="hidden" name="sid" value="<%= c.req().session().getId() %>"/>
			<input type="hidden" name="id" value="<%= hook.id() || "" %>"/>
			<% if (hook.parent()) { %>
			<input type="hidden" name="parent" value="<%= hook.parent().id() || "" %>"/>
			<% } %>
			<input type="submit" value="Submit"/>
		</p>
	</form>

	<div class="section">
		<h3>Hook URI <span class="less">(only you can see)</span></h3>
		<form action="" mehtod="post">
			<p>
				<input type="text" value="<%= c.absolute("/hook/" + hook.token()) %>" size="80" onclick="this.select()" onfocus="this.select()" class="text"/>
				<input type="hidden" name="mode" value="changeToken" />
				<input type="submit" value="Change" />
			</p>
		</form>
		<p>You can test this hook with curl:</p>
		<dl>
			<dt>Simple post</dt>
			<dd><kbd>curl -dfoo=bar http://www.hookhub.com/hook/....</kbd></dd>
			<dt>Post content</dt>
			<dd><kbd>curl -v -H "Content-Type: text/plain" -d "aooooo"</kbd></dd>
		</dl>
	</div>
</div>

<% if (hook.key().getId()) { %>
<div id="edit-hook" class="section">
	<h2>Delete Hook</h2>
	<form action="" method="post">
		<p>
			<input type="hidden" name="sid" value="<%= c.req().session().getId() %>"/>
			<input type="hidden" name="id" value="<%= hook.key().getId() || "" %>"/>
			<input type="hidden" name="mode" value="delete"/>
			<input type="submit" value="Delete"/>
		</p>
	</form>
</div>
<% } %>

<%include= _footer %>
