<%=== v.render('_header', c) %>
<% hook = stash("hook") %>
<h2>
	Hook::
	<%= hook.param('title') %>

	<a href="/<%= author %>/hook/<%= hook.key().getId() %>/edit">Edit</a>
</h2>
<pre><%= hook.param('code') %></pre>
<pre><%= hook.param('result') %></pre>

<% if (c.userIsAuthor()) { %>
<label for="hook-uri">Hook URL::</label>
<input type="text" id="hook-uri" value="<%= c.absolute("/hook/" + hook.param('token')) %>" size="80" onclick="this.select()" onfocus="this.select()"/>
<% } %>

<%=== v.render('_footer', c) %>
