<%include= _header %>
<% hook = stash("hook") %>
<div id="hook" class="section">
	<h2>
		Hook::
		<%= hook.title() %>
	</h2>
	<pre><%= hook.code() %></pre>
	<pre><%= hook.result() %></pre>

	<% if (c.userIsAuthor()) { %>
		<label for="hook-uri">Hook URL::</label>
		<input type="text" id="hook-uri" value="<%= c.absolute("/hook/" + hook.token()) %>" size="80" onclick="this.select()" onfocus="this.select()"/>
		<a href="/<%= author %>/hook/<%= hook.key().getId() %>/edit">Edit</a>
	<% } %>
	</div>
<%include= _footer %>
