<%include= _header %>
<% hook = stash("hook") %>
<div id="hook" class="section">
	<h2>
		Hook::
		<%= hook.title() %>
		<% if (c.userIsAuthor()) { %>
		<span class="less">
			<a href="/<%= author %>/hook/<%= hook.key().getId() %>/edit">Edit</a>
		</span>
		<% } %>
	</h2>

	<div class="section">
		<h3>Code</h3>
		<pre><%= hook.code() %></pre>
	</div>

	<% if (c.userIsAuthor()) { %>
	<div class="section">
		<h3>Last result</h3>
		<pre><%= hook.result() %></pre>
	</div>

	<div class="section">
		<h3>Hook URI <span class="less">(only you can see)</span></h3>
		<p>
			<input type="text" value="<%= c.absolute("/hook/" + hook.token()) %>" size="80" onclick="this.select()" onfocus="this.select()" class="text"/>
		</p>
	</div>
	<% } %>
	</div>
<%include= _footer %>
