<%include= _header %>
<div id="recently-hooked" class="section">
	<h2>Recently Hooked</h2>
	<% hooks = stash('hooks') %>
	<% for (var i = 0; i < hooks.length(); i++) { var hook = hooks.apply(i) %>
	<% ret.push(cache(hook.key().toString(), function () { var ret = []; %>
		<%include= _hook %>
	<% return ret.join(''); })) %>
	<% } %>

	<div style="text-align: right">
		<script type="text/javascript"><!--
		google_ad_client = "pub-4629424540171624";
		/* 728x90, hookhub 09/07/07 */
		google_ad_slot = "5068464069";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>

<%include= _footer %>
