<%include= _header %>
<div id="config" class="section">
	<h2>Config</h2>
	<p>You can access these data from your code.</p>
	<form action="" method="post">
		<dl>
			<dt>Name</dt>
			<dd><input type="text" name="name" size="20" value=""/></dd>
			<dt>Value</dt>
			<dd><input type="text" name="value" size="20" value=""/></dd>
		</dl>
		<p>
			<input type="hidden" name="sid" value="<%= c.req().session().getId() %>"/>
			<input type="submit" value="Save" class="button"/>
		</p>
	</form>

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Value</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% configs = stash('configs') %>
			<% for (var i = 0; i < configs.length(); i++) { var config = configs.apply(i) %>
			<tr>
				<td><%= config.name() %></td>
				<td><%= config.value() %></td>
				<td>
					<form action="" method="post">
						<span>
							<input type="hidden" name="sid" value="<%= c.req().session().getId() %>"/>
							<input type="hidden" name="id" value="<%= config.key().getId() %>"/>
							<input type="hidden" name="mode" value="delete"/>
							<input type="submit" value="Delete" class="button"/>
						</span>
					</form>
				</td>
			</tr>
			<% } %>
		</tbody>
	</table>

</div>

<%include= _footer %>
