<%=== v.render('_header', c) %>
<h2>
	Hooks
	<% if (c.userIsAuthor) { %>
	<a href="/<%= c.user().getEmail() %>/edit">Edit</a>
	<% } %>

	<% hooks = c.stash().apply('hooks') %>
	<% for (var i = 0; i < hooks.length(); i++) { var hook = hooks.apply(i) %>
	<div>
		<%= hook.param('code') %>
		(<%= hook.key().getId() %>)
	</div>
	<% } %>

	<form action="" method="post">
		<p>
		<textarea name="code" cols="50" rows="20"></textarea>
		</p>
		<p>
		<input type="submit" value="save"/>
		</p>
	</form>
</h2>
<%=== v.render('_footer', c) %>
